
header {
    background-color: grey;
    text-align: center;
    border-style: solid;
}

header li {
    display: inline;
}

body {
    background-color: #272727;
    text-align: center;
    display: center;
}

section {
    background-color: grey;
    border-style: solid;
    margin: 5em;
    padding: 2em;
}

a {
    text-decoration: none;
    color: black;
}

.explore_buttons {
    font-family: Orthodox Herbertarian;
}

.headers {
    font-family: Orthodox Herbertarian;
}

.logos {
    border-style: none;
    max-width: 10m;
    max-height: 10em;
    display: inline;
}

#arrakis_explore_div {
    padding: 1em;
    margin: 1em;
}

.arrakis_explore_images {
    border-style: solid;
    max-width: 20em;
    max-height: 20em;
}

#form_div {
    padding: 1em;
    margin: 1em;
}


